In [1]:
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import os 
from PIL import Image
import matplotlib.pyplot as plt
import pandas as pd

C:\Users\jhroe\AppData\Local\Temp\ipykernel_11488\592189382.py:7: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [7]:
data_path

'c:\\Users\\jhroe\\Desktop\\Thesis\\Clean\\CellularCommunityAnalysisNSCLC\\Sorin2/Data/'

In [39]:


# date and cell cutoff
cutoff = 25

# specify paths

data_path = f'{os.getcwd()}/Data/'
file_path = f"{data_path}/distances/cell_distances_25px_20240506_allpatients.csv"
output_path = f"{data_path}/frequencies/"

temp = pd.read_csv(file_path)
dists = temp[['source_ID', 'target_ID', 'source_cluster', 'target_cluster', 'Patient_ID']]
dists_randomized = dists.copy()
dists_randomized['target_cluster'] = dists_randomized['target_cluster'].sample(frac=1).reset_index(drop=True)
dists

          source_ID target_ID source_cluster target_cluster Patient_ID
0         D223_1133    D223_1         Cancer         Cancer  LUAD_D223
1            D223_2    D223_1         Cancer         Cancer  LUAD_D223
2         D223_2307    D223_1         Cancer         Cancer  LUAD_D223
3         D223_3639    D223_1         Cancer         Cancer  LUAD_D223
4            D223_4    D223_1         Cl MAC         Cancer  LUAD_D223
...             ...       ...            ...            ...        ...
17104169  D165_3084  D165_999         Cancer         Cancer  LUAD_D165
17104170  D165_3086  D165_999         Cancer         Cancer  LUAD_D165
17104171   D165_909  D165_999         Cancer         Cancer  LUAD_D165
17104172   D165_926  D165_999         Cancer         Cancer  LUAD_D165
17104173   D165_939  D165_999         Cancer         Cancer  LUAD_D165

[17104174 rows x 5 columns]

In [36]:
dists = dists.iloc[:100000][['source_cluster', 'target_cluster', 'Patient_ID']]
dists_randomized = dists_randomized.iloc[:100000][['source_cluster', 'target_cluster', 'Patient_ID']]

dists

         source_cluster target_cluster Patient_ID
0                Cancer         Cancer  LUAD_D223
1                Cancer         Cancer  LUAD_D223
2                Cancer         Cancer  LUAD_D223
3                Cancer         Cancer  LUAD_D223
4                Cl MAC         Cancer  LUAD_D223
...                 ...            ...        ...
99995  Endothelial cell             Tc  LUAD_D228
99996         Mast cell             Tc  LUAD_D228
99997           Unknown      Mast cell  LUAD_D228
99998            Cl MAC      Mast cell  LUAD_D228
99999                Th      Mast cell  LUAD_D228

[100000 rows x 3 columns]

In [37]:
# for celltype in dists['source_cluster'].unique()
celltype = 'Cancer'
ct_df = dists[dists['source_cluster'] == celltype]
for patient in ct_df['Patient_ID'].unique()[:2]:
    pat_df = ct_df[ct_df['Patient_ID'] == patient]
    counts_pat_df = pat_df.groupby(by=['Patient_ID', 'source_cluster', 'target_cluster']).size().reset_index(name='count')
counts_pat_df

   Patient_ID source_cluster    target_cluster  count
0   LUAD_D228         Cancer           Alt MAC     74
1   LUAD_D228         Cancer            B cell     10
2   LUAD_D228         Cancer            Cancer  15923
3   LUAD_D228         Cancer            Cl MAC   1556
4   LUAD_D228         Cancer             Cl Mo    137
5   LUAD_D228         Cancer  Endothelial cell    263
6   LUAD_D228         Cancer            Int Mo     27
7   LUAD_D228         Cancer         Mast cell     47
8   LUAD_D228         Cancer           NK cell     16
9   LUAD_D228         Cancer       Neutrophils     88
10  LUAD_D228         Cancer         Non-Cl Mo     41
11  LUAD_D228         Cancer           T other     75
12  LUAD_D228         Cancer                Tc    424
13  LUAD_D228         Cancer                Th    681
14  LUAD_D228         Cancer              Treg     47
15  LUAD_D228         Cancer           Unknown   1684

In [40]:
# for celltype in dists['source_cluster'].unique()
celltype = 'Cancer'
ct_df = dists_randomized[dists_randomized['source_cluster'] == celltype]
for patient in ct_df['Patient_ID'].unique()[:2]:
    pat_df = ct_df[ct_df['Patient_ID'] == patient]
    counts_pat_df = pat_df.groupby(by=['Patient_ID', 'source_cluster', 'target_cluster']).size().reset_index(name='count')
counts_pat_df

   Patient_ID source_cluster    target_cluster  count
0   LUAD_D228         Cancer           Alt MAC    479
1   LUAD_D228         Cancer            B cell   1176
2   LUAD_D228         Cancer            Cancer   8796
3   LUAD_D228         Cancer            Cl MAC   1912
4   LUAD_D228         Cancer             Cl Mo    503
5   LUAD_D228         Cancer          DCs cell     19
6   LUAD_D228         Cancer  Endothelial cell   1490
7   LUAD_D228         Cancer            Int Mo    144
8   LUAD_D228         Cancer         Mast cell    140
9   LUAD_D228         Cancer           NK cell     39
10  LUAD_D228         Cancer       Neutrophils    637
11  LUAD_D228         Cancer         Non-Cl Mo    223
12  LUAD_D228         Cancer           T other    355
13  LUAD_D228         Cancer                Tc   1583
14  LUAD_D228         Cancer                Th   2415
15  LUAD_D228         Cancer              Treg    305
16  LUAD_D228         Cancer           Unknown   1418