In [1]:
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date, time
import pandas as pd
import os 
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
path = os.getcwd()

elem = pd.read_csv(f'{path}/Data/elemeta.csv')[['channel','clean_target','Metal.Tag']]
elem.set_index('channel')

                  clean_target Metal.Tag
channel
1                   Histone H3     In113
2                          SMA     In115
3              pan Cytokeratin     Pr141
4                         CD38     Nd142
5                       HLA-DR     Nd143
6                         ICOS     Nd144
7                         CD27     Nd145
8                         CD68     Nd146
9                        CD163     Sm147
10            Siglec-1 / CD169     Nd148
11                       CD11b     Sm149
12                       CD204     Nd150
13                         IDO     Eu151
14                         CD3     Sm152
15                       LAG-3     Eu153
16                      CD45RO     Sm154
17                        PD-1     Gd155
18                        CD73     Gd156
19                       CD134     Gd158
20                  Granzyme B     Tb159
21                       PD-L1     Gd160
22                 TCF1 / TCF7     Dy161
23                        CD45     Dy162
24                       FOXP3     Dy163
25                      CD45RA     Dy164
26                        CD8a     Ho165
27       Carbonic Anhydrase IX     Er166
28                        GITR     Er167
29                       CD303     Er168
30                       VISTA     Tm169
31                     TMEM173     Er170
32                         CD4     Yb171
33                  CD31 / vWF     Yb172
34                        CD14     Yb173
35                       CCL21     Yb174
36                 CD206 (MMR)     Lu175
37            Cleaved Caspase3     Yb176
38                     Iridium     Ir191
39                    Iridium2     Ir193
40                        CD15     Bi209
41                     HLA-ABC       Y89

In [73]:
expr = pd.read_csv(f'{path}/Data/expr.csv')
expr

NameError: name 'path' is not defined

In [21]:
f1 = pd.read_csv(f'{path}/Data/coldata.csv')
f1

,ImageNumber,CellNumber,Center_X,Center_Y,Area,MajorAxisLength,MinorAxisLength,PatientID,ImmuneStatus,TherapyStatus,...,SampleID,ROI,Cluster_15.sub,Cluster_20.sub,Cluster_25.sub,Cluster_30.sub,Cluster_35.sub,Cluster_40.sub,Cluster_45.sub,Cluster_levels
0,1,1,68.349206,9.761905,126,19.329256,9.852044,2,Tcell_low,pre,...,B15-69198-1,1,3,5,4,5,16,19,4,Undefined
1,1,2,89.095238,5.865079,126,13.614734,12.433632,2,Tcell_low,pre,...,B15-69198-1,1,15,17,19,10,9,4,11,Myeloid
2,1,3,157.127273,7.363636,110,13.970268,10.551222,2,Tcell_low,pre,...,B15-69198-1,1,3,25,4,5,1,19,14,Undefined
3,1,4,173.149254,5.059701,67,11.342861,8.012685,2,Tcell_low,pre,...,B15-69198-1,1,3,5,4,5,16,19,4,Undefined
4,1,5,265.015038,5.578947,133,15.599016,11.189210,2,Tcell_low,pre,...,B15-69198-1,1,2,8,11,11,3,8,17,T cell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99654,34,695,85.154930,874.042254,71,10.351080,8.891096,5,Tcell_low,post,...,B19-15832-1,2,3,9,24,20,8,1,7,Undefined
99655,34,696,173.955696,877.145570,158,14.468264,14.097899,5,Tcell_low,post,...,B19-15832-1,2,3,5,4,5,16,19,4,Undefined
99656,34,697,412.258065,878.238710,155,14.723733,13.518356,5,Tcell_low,post,...,B19-15832-1,2,3,25,4,5,1,19,14,Undefined
99657,34,698,145.320000,887.770000,100,13.197322,10.039168,5,Tcell_low,post,...,B19-15832-1,2,3,25,24,20,16,1,7,Undefined
99658,34,699,605.424242,885.848485,33,7.325094,5.903958,5,Tcell_low,post,...,B19-15832-1,2,16,19,17,15,15,13,5,Myeloid

In [69]:
f1.iloc[:,5:]

,MajorAxisLength,MinorAxisLength,PatientID,ImmuneStatus,TherapyStatus,Block,BatchID,SampleID,ROI,Cluster_15.sub,Cluster_20.sub,Cluster_25.sub,Cluster_30.sub,Cluster_35.sub,Cluster_40.sub,Cluster_45.sub,Cluster_levels,CellID
0,19.329256,9.852044,2,Tcell_low,pre,B15-69198-1,20200318,B15-69198-1,1,3,5,4,5,16,19,4,Undefined,B15-69198-1_1_1
1,13.614734,12.433632,2,Tcell_low,pre,B15-69198-1,20200318,B15-69198-1,1,15,17,19,10,9,4,11,Myeloid,B15-69198-1_1_2
2,13.970268,10.551222,2,Tcell_low,pre,B15-69198-1,20200318,B15-69198-1,1,3,25,4,5,1,19,14,Undefined,B15-69198-1_1_3
3,11.342861,8.012685,2,Tcell_low,pre,B15-69198-1,20200318,B15-69198-1,1,3,5,4,5,16,19,4,Undefined,B15-69198-1_1_4
4,15.599016,11.189210,2,Tcell_low,pre,B15-69198-1,20200318,B15-69198-1,1,2,8,11,11,3,8,17,T cell,B15-69198-1_1_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99654,10.351080,8.891096,5,Tcell_low,post,B19-15832-1,20200319,B19-15832-1,2,3,9,24,20,8,1,7,Undefined,B19-15832-1_2_695
99655,14.468264,14.097899,5,Tcell_low,post,B19-15832-1,20200319,B19-15832-1,2,3,5,4,5,16,19,4,Undefined,B19-15832-1_2_696
99656,14.723733,13.518356,5,Tcell_low,post,B19-15832-1,20200319,B19-15832-1,2,3,25,4,5,1,19,14,Undefined,B19-15832-1_2_697
99657,13.197322,10.039168,5,Tcell_low,post,B19-15832-1,20200319,B19-15832-1,2,3,25,24,20,16,1,7,Undefined,B19-15832-1_2_698
99658,7.325094,5.903958,5,Tcell_low,post,B19-15832-1,20200319,B19-15832-1,2,16,19,17,15,15,13,5,Myeloid,B19-15832-1_2_699

In [65]:
# Concatenate values of selected columns into a new column
f1['CellID'] = f1['SampleID'].astype(str) + '_' + f1['ROI'].astype(str) + '_' + f1['CellNumber'].astype(str)

# Count unique combinations
unique_combinations = f1['CellID'].nunique()

# Print the number of unique combinations
cd = f1[['CellID', 'Cluster_levels', 'Center_X', 'Center_Y', 'PatientID','BatchID', ]]

,ImageNumber,CellNumber,Center_X,Center_Y,Area,MajorAxisLength,MinorAxisLength,PatientID,ImmuneStatus,TherapyStatus,...,ROI,Cluster_15.sub,Cluster_20.sub,Cluster_25.sub,Cluster_30.sub,Cluster_35.sub,Cluster_40.sub,Cluster_45.sub,Cluster_levels,CellID
0,1,1,68.349206,9.761905,126,19.329256,9.852044,2,Tcell_low,pre,...,1,3,5,4,5,16,19,4,Undefined,B15-69198-1_1_1
1,1,2,89.095238,5.865079,126,13.614734,12.433632,2,Tcell_low,pre,...,1,15,17,19,10,9,4,11,Myeloid,B15-69198-1_1_2
2,1,3,157.127273,7.363636,110,13.970268,10.551222,2,Tcell_low,pre,...,1,3,25,4,5,1,19,14,Undefined,B15-69198-1_1_3
3,1,4,173.149254,5.059701,67,11.342861,8.012685,2,Tcell_low,pre,...,1,3,5,4,5,16,19,4,Undefined,B15-69198-1_1_4
4,1,5,265.015038,5.578947,133,15.599016,11.189210,2,Tcell_low,pre,...,1,2,8,11,11,3,8,17,T cell,B15-69198-1_1_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99654,34,695,85.154930,874.042254,71,10.351080,8.891096,5,Tcell_low,post,...,2,3,9,24,20,8,1,7,Undefined,B19-15832-1_2_695
99655,34,696,173.955696,877.145570,158,14.468264,14.097899,5,Tcell_low,post,...,2,3,5,4,5,16,19,4,Undefined,B19-15832-1_2_696
99656,34,697,412.258065,878.238710,155,14.723733,13.518356,5,Tcell_low,post,...,2,3,25,4,5,1,19,14,Undefined,B19-15832-1_2_697
99657,34,698,145.320000,887.770000,100,13.197322,10.039168,5,Tcell_low,post,...,2,3,25,24,20,16,1,7,Undefined,B19-15832-1_2_698
99658,34,699,605.424242,885.848485,33,7.325094,5.903958,5,Tcell_low,post,...,2,16,19,17,15,15,13,5,Myeloid,B19-15832-1_2_699

In [72]:
f1['Cluster_levels'].value_counts()

Cluster_levels
Myeloid      40092
T cell       22107
Tumour       15379
Vessel       10489
Undefined     9813
Stroma        1779
Name: count, dtype: int64